body {
    background-color: cadetblue ;
    margin: 0;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 50px;
    text-align: center;
}

td:hover {
    background-color: tomato;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.aqua {
    background-color: aqua;
    width: 50%;
}

.rojo {
    background-color: red;
    width: 50%;
}

.cuerpo {
    display: flex;
    text-align: center;
    border: 1px black solid;
}

article {
    border: 1px black solid;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
}

img {
    width: 190px;
}

.comic {
    text-align: center;
    background-color: red;
    width: fit-content;
}

.linea {
    display: inline-block;
}